# This key can be any alphanumeric in development. The production key lives on the cluster
SECRET_KEY=

# Must be a 32 bit base64 encoded string
ENCRYPTION_KEY=

# DeepLynx
DEEPLYNX_BASE=https://deeplynx.dev.inl.gov
DEEPLYNX_CONTAINER=
DEEPLYNX_KEY=
DEEPLYNX_SECRET=
DEEPLYNX_EXPIRY=1h

# Hosting
ALLOWED_HOSTS=*
ALLOWED_ORIGINS=http://*

# Django Settings
# Debug in local development only
DEBUG=True

# For help setting these database variables, consult: https://docs.djangoproject.com/en/4.0/ref/settings/#std:setting-DATABASES
DB_NAME=faraday
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432