#####################
# DJANGO SETTINGS
#####################

# This key can be any alphanumeric in development. The production key lives on the cluster
SECRET_KEY='development'

# Hosting
ALLOWED_HOSTS=*
ALLOWED_ORIGINS=http://*

# Debug in local development only
DEBUG=True

# Development Superuser
DEV_SUPERUSER_PASSWORD=admin
DEV_SUPERUSER_EMAIL=admin@inl.gov
DEV_SUPERUSER_USERNAME=admin


#####################
# POSTGRES SETTINGS
#####################

# For help setting these database variables, see: https://docs.djangoproject.com/en/4.0/ref/settings/#std:setting-DATABASES

### ENSURE THESE VARIABLES MATCH THOSE IN /database/.env.local
POSTGRES_NAME=faraday
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_HOST=postgres
POSTGRES_PORT=5432