#####################
# POSTGRES SETTINGS
#####################
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=admin
POSTGRES_DB=faraday

#####################
# PG ADMIN SETTINGS
#####################
PGADMIN_DEFAULT_EMAIL=admin@inl.gov
PGADMIN_DEFAULT_PASSWORD=admin