@import "tailwindcss";

@plugin "daisyui" {
  themes: dark;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-accent: palegoldenrod;
}

@plugin "@tailwindcss/typography";

@layer base {
  input,
  label {
    @apply !outline-none;
  }

  input:focus,
  label:focus {
    @apply !outline-none;
  }
  select:focus {
    @apply !outline-1 !ring-0;
  }
}
